* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

.header-div {
    background-color: rgba(44, 39, 39, 0.557);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#name {
    font-size: 25px;
    text-decoration: none;
    margin-left: 30px;
    padding: 5px 8px;

    &:hover {
        border-bottom: 3px solid white;
        color: blue;
    }
}

ul {
    display: flex;
    gap: 70px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 21px;
    padding: 5px 8px;

    &:hover {
        border-bottom: 3px solid white;
        color: blue;
    }
    
}



img {
    width: 26vw;
}

.main-div {
    display: flex;
    margin: 30px;
    margin-top: 60px;
    gap: 20%;
}

.main-div h1 {
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#btn {
    padding: 8px 10px;
    width: 190px;
    text-align: center;
    background-color: blue;
    margin: 60px;
    border-radius: 2px;
    font-size: 23px;
    font-weight: 600;

    & a {
        text-decoration: none;
    }
    &:hover {
        background-color: rgb(255, 0, 0);
        
    }
}
